name: Scraper ENRE

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Run scraper
        run: python scraper.py

      - name: Commit results
        run: |
          git config --global user.email "bot@example.com"
          git config --global user.name "ENRE Bot"
          git add cortes_enre.csv
          git commit -m "Scraper auto-update" || echo "No changes"
          git push

